@use 'colors';
@use 'spacing';
@import 'text';

.cv-row {
  display: flex;
  flex-direction: row;
}

.cv-column {
  display: flex;
  flex-direction: column;
}

.cv-container {
  @extend .cv-column;
  flex: 1;
}

.cv-header {
  @extend .cv-row;
  background-color: colors.$header1;
  justify-content: space-between;
  padding-inline: spacing.$medium;
}

.onHeader {
  color: white;
}

.name {
  @extend .onHeader;
  font-size: $bigFontSize;
  font-weight: bold;
  margin-top: spacing.$large;
}

.title {
  @extend .onHeader;
  font-size: $bigFontSize;
  margin-top: spacing.$medium;
  margin-bottom: spacing.$medium;
}

.contact-container {
  justify-content: center;
  display: flex;
}

.contact {
  @extend .onHeader;
}

.photo {
  height: auto;
  width: 4cm;
  background-color: colors.$header1;
}

.cv-body {
  @extend .cv-column;
  flex: 1;
  padding: spacing.$medium;
}

.cv-text-row {
  @extend .cv-row;
  justify-content: space-between;
  align-items: center;
  margin-top: spacing.$tiny;
}
