@use 'colors';
@use 'spacing';
@use 'text';

$header_height: 180px;

.cv-row {
  display: flex;
  flex-direction: row;
}

.cv-head-row {
  @extend .cv-row;
  justify-content: space-between;
}

.cv-row-spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cv-column {
  display: flex;
  flex-direction: column;
}

.cv-container {
  @extend .cv-column;
  flex: 1;
  background-color: white;
}

.cv-header {
  @extend .cv-row;
  background-color: colors.$header1;
  justify-content: space-between;
  padding-inline: spacing.$medium;
  height: $header_height;
}

.onHeader {
  color: white;
}

.cv-header-text-container {
  @extend .onHeader, .cv-column;
  justify-content: space-around;
  padding-top: spacing.$medium;
  padding-bottom: spacing.$medium;
  flex: 1;
}

.name {
  font-size: text.$bigFontSize;
  font-weight: bold;
}

.title {
  font-size: text.$bigFontSize;
  margin-top: spacing.$medium;
  margin-bottom: spacing.$medium;
}

.contact-container {
  @extend .cv-row;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.contact {
  margin-right: spacing.$small;
}

.cv-icon {
  margin-right: spacing.$tiny;
}

.photo {
  height: $header_height;
  width: auto;
  background-color: colors.$header1;
}

.cv-body {
  @extend .cv-column;
  flex: 1;
  padding-left: spacing.$medium;
  padding-right: spacing.$medium;
  padding-top: spacing.$xsmall;
}

.cv-text-row {
  @extend .cv-row;
  justify-content: space-between;
  align-items: center;
  margin-top: spacing.$tiny;
}

.cv-text-column {
  @extend .cv-column;
  flex: 1;
}

.achievement {
  @extend .cv-column;
}

.skills {
  font-weight: bold;
}

.award {
  font-style: italic;
}

.summary {
  font-size: text.$emphasisFontSize;
  margin-bottom: spacing.$xxsmall;
}

.cv-middle-row {
  @extend .cv-row;
  margin-top: spacing.$xxsmall;
  margin-bottom: spacing.$xxsmall;
}

.cv-middle-section {
  @extend .cv-column;
  flex: 1;
  padding-right: spacing.$small;
  margin-right: spacing.$small;
}

.cv-link {
  margin-bottom: spacing.$small;
  text-align: center;
}

.fix {
  text-decoration: none;
}
