@use 'colors';
@use 'spacing';
@import 'text';

.cv-row {
  display: flex;
  flex-direction: row;
}

.cv-column {
  display: flex;
  flex-direction: column;
}

.cv-container {
  @extend .cv-column;
  flex: 1;
  background-color: white;
}

.cv-header {
  @extend .cv-row;
  background-color: colors.$header1;
  justify-content: space-between;
  padding-inline: spacing.$medium;
}

.onHeader {
  color: white;
}

.cv-header-text-container {
  @extend .onHeader, .cv-column;
  justify-content: space-around;
  padding-top: spacing.$medium;
  padding-bottom: spacing.$medium;
}

.name {
  font-size: $bigFontSize;
  font-weight: bold;
}

.title {
  font-size: $bigFontSize;
  margin-top: spacing.$medium;
  margin-bottom: spacing.$medium;
}

.contact-container {
  @extend .cv-row;
  align-items: center;
  margin-left: spacing.$medium;
}

.contact {
  margin-right: spacing.$small;
}

.cv-icon {
  margin-right: spacing.$tiny;
}

.photo {
  height: auto;
  width: 4cm;
  background-color: colors.$header1;
}

.cv-body {
  @extend .cv-column;
  flex: 1;
  padding: spacing.$medium;
}

.cv-text-row {
  @extend .cv-row;
  justify-content: space-between;
  align-items: center;
  margin-top: spacing.$tiny;
}

.achievement {
  @extend .cv-column;
}

.skills {
  font-weight: bold;
}

.award {
  font-style: italic;
}

.summary {
  font-size: $sectionHeader3FontSize;
  margin-bottom: spacing.$small;
}

.cv-middle-section {
  @extend .cv-column;
  flex: 1;
  padding-right: spacing.$small;
  margin-right: spacing.$small;
}

.cv-link {
  margin-bottom: spacing.$small;
  text-align: center;
}

.fix {
  text-decoration: none;
}
