@use 'text';
@use 'spacing';
@use 'colors';

.section {
  flex: 1;
}

.section-header {
  margin-bottom: spacing.$medium;
  width: auto;
}

.section-title {
  @extend .text-header;
}

.section-underline {
  height: spacing.$hairline;
  width: auto;
  background-color: colors.$header1;
}

.section-item {
  display: flex;
  flex-direction: row;
  margin-bottom: spacing.$medium;
}

.section-item-description {
  @extend .text-header3;
  flex: 1;
}

.section-item-separator {
  width: spacing.$hairline;
  height: auto;
  background-color: colors.$header3;
  margin-inline: spacing.$small;
}

.section-item-content {
  flex: 8;
}

.section-item-title {
  @extend .text-header2;
  margin-bottom: spacing.$xsmall;
}

.section-item-body {
  @extend .text-body
}

.section-item-short {
  @extend .section-item, .text-body;
  margin-bottom: spacing.$xsmall;
  justify-content: space-between;
}
