@use '~bootstrap/scss/bootstrap';
@use './cv';
@use './section';
@use './text';

$a4_width: 21cm;
$a4_height: 29.7cm;

.cv-page {
  width: $a4_width;
  height: $a4_height;
  background-color: #FFFFFF;
}

ul {
  margin: 0;
}